<!doctype html>

<html lang="en" ng-app="DifferenceCalculator">

<head>
    <meta charset="utf-8">
    <title>
        Calculator
    </title>

    <script src="../angular.min.js"></script>
    <script src="differenceCalculator.js"></script>
    <script src="differenceHistoryController.js"></script>
    <script src="historyFactory.js"></script>
    <script src="parentheses.js"></script>
</head>

<body>
<h1>
    Simple Calculator
</h1>
<br/><br/>
<calculator></calculator>
<calculator></calculator>

<div ng-controller="differenceHistoryController">
    <div ng-repeat="touple in touples">
        {{touple.num1}} - {{touple.num2}} = {{touple.res | parentheses}}
    </div>
</div>
</body>

</html>