<script src="angular.min.js"></script>
<script src="pivot_table.js"></script>
<script src="raw_data.js"></script>
<script src="raw_data_provider.js"></script>
<script src="pivot_data.js"></script>
<table ng-app="PivotTable" style="border: 1px solid gainsboro">
    <thead>
    <tr ng-repeat="colAttribute in colAttributes">
        <td style="border: 1px solid gainsboro" ng-repeat="rowAttribute in rowAttributes">
        </td>
        <th style="border: 2px solid darkseagreen">
            {{colAttribute}}
        </th>

        <th style="border: 1px solid black" ng-repeat="colValue in colValues[$index] track by $index"
            colspan={{colValueSpans[$parent.$index][$index]}}>
            {{colValue}}
        </th>
        <th style="border: 1px solid gainsboro">
        </th>
    </tr>
    </thead>

    <tbody align="center">
    <tr>
        <th style="border: 2px solid darkseagreen" ng-repeat="rowAttribute in rowAttributes">
            {{rowAttribute}}
        </th>
        <td style="border: 1px solid gainsboro" ng-repeat="rep in rowTotals track by $index">
        </td>

        <td style="border: 1px solid palegreen">
            totals
        </td>
    </tr>
    <tr ng-repeat="rData in rowData">
        <th style="border: 1px solid black" ng-repeat="rowValue in rData[0] track by $index"
            rowspan={{rowValueSpans[$parent.$index][$index]}}>
            {{rowValue}}
        </th>
        <td style="border: 1px solid gainsboro">
        </td>
        <td style="border: 1px solid black" ng-repeat="data in rData.slice(1, rData.length)">
            {{data}}
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid gainsboro" ng-repeat="rowAttribute in rowAttributes">
        </td>
        <td style="border: 1px solid palegreen">
            totals
        </td>
        <td style="border: 1px solid black" ng-repeat="rowTotal in rowTotals track by $index">
            {{rowTotal}}
        </td>
    </tr>
    </tbody>
</table>