<!doctype html>

<html lang="en" ng-app="MinhasApp">

<head>
    <meta charset="utf-8">
    <title ng-controller="aWCtrl">
        {{alohaMsg}}
    </title>

    <script src="../angular.min.js"></script>
    <script src="script.js"></script>
    <script src="script2.js"></script>
    <link rel="stylesheet" href="../bootstrap-combined.min.css">
</head>

<body>
    <h1 ng-controller="hWCtrl">
        {{heloMsg}}
    </h1>

    <p ng-controller="msgCtrl">
        {{simpleMsg}}
        <br/>
        4 + 6 = {{4+6}}
    </p>
</body>

</html>