<script src="../angular.min.js"></script>
<script src="tableScript.js"></script>
<table ng-app="DataConnector">
    <thead>
    <tr ng-controller="userDataHeadCtrl">
        <th>
            {{heads.head1}}
        </th>
        <th>
            {{heads.head2}}
        </th>
        <th>
            {{heads.head3}}
        </th>
        <th>
            {{heads.head4}}
        </th>
        <th>
            {{heads.head5}}
        </th>
        <th>
            {{heads.head6}}
        </th>
        <th>
            {{heads.head7}}
        </th>
        <th>
            {{heads.head8}}
        </th>
    </tr>
    </thead>

    <tbody ng-controller="userDataCtrl">
    <tr ng-repeat="user in users">
        <td>
            <img ng-src={{user.img}} style="height:50px; width: 50px"/>
        </td>
        <td>
            {{user.firstName}}
        </td>
        <td>
            {{user.lastName}}
        </td>
        <td>
            {{user.age}}
        </td>
        <td>
            {{user.type}}
        </td>
        <td>
            {{user.ratings}}
        </td>
        <td>
            <input type="button" value="upVote" ng-click="incrementRating(user)">
        </td>
        <td>
            <input type="button" value="downVote" ng-click="decrementRating(user)">
        </td>
    </tr>
    </tbody>
</table>