<div>
    <div>{{node.name}} - {{node.children.length}}</div>

    <div style="margin-left: 15px;">
        <div ng-repeat="node in node.children" ng-include="'tree-node.html'"></div>
    </div>
</div>